/*Room Page 2 styling Though I connected to Page one for footer and header*/
:root {
    --primary-color: #182B47;
    --button: #DEBC64;
    --light:  #fff;
    --dark: #000;
    --footer: #0E1C32;
    --shadow: 5px 7px 10px rgba(104, 104, 104, 0.8);
}
/* Header section styling Starts*/
.showcase2 {
    height: 30rem;
    background-image:url('https://res.cloudinary.com/opejinabdul/image/upload/v1592782466/room2_hero_igcckq.png');
    margin-bottom: 3.5rem;
}

.showcase2 .main-header {
    background-color: var(--primary-color);
}

.showcase2 #showcase-text {
    height: 80%;
    color: var(--light);
}
/* Header section styling Starts*/

/* Standard-room styling Section Starts*/
.room-search .room-availabilty {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2fr 1fr;
} 

.room-search .form-img {
        max-width: 100%;
        margin-right: auto;
        display: block;max-width: 100%;
        margin-right: auto;
        display: block;
}

.room-search .form-container {
    background-color: var(--primary-color);
    padding: 1.7rem;
}
.room-search .form-container h3 {
    color: var(--light);
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
}

.room-search .form-container .btn-room {
    background-color: var(--button);
    border: none;
    border-radius: .33rem;
    padding: .6rem 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.room-search .form-container .btn-room:hover {
    background-color: var(--light);
}
/* Standard-room styling Section Ends*/

/*room-type Section Styling Starts*/
.room-type {
    margin: 2rem 0;
}

.room-type h2 {
    font-size: 1.7rem;
    font-weight: 400;
}
.room-type .price {
    font-size: 1.3rem;
    padding: .6rem 0;
}

.room-type .room-text {
    font-size: 1rem; 
    text-align: start;
}
/*room-type Section Styling Starts*/

/*Amenities Section Styling Starts*/
.amenities {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.amenities #amenities-elements h3 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: .8rem 0;
}

.amenities #amenities-elements #facilities li { 
    line-height: 1.7;
}

.amenities #amenities-elements #details p, 
.amenities #amenities-elements #occupancy p {
    line-height: 2.4;
    font-size: 1.1rem;
}

.amenities #amenities-elements .text-bold {
    font-weight: 700;
}
.amenities #amenities-elements #icon {
    padding-right: .7rem;
}
/*Amenities Section Styling Ends*/

/*Media Querry*/
@media(max-width:1000px) {
    .room-search .room-availabilty {
        display: flex;
        flex-direction: column;
    }
    .room-search .form-container h3 {
        color: var(--light);
        padding-top: .8rem;
        padding-bottom: 1.5rem;
        font-weight: 300;
        font-size: 1.2rem;
    }
    .room-search .form-img {
        margin-bottom: 3rem;
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

